table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  max-width: 900px;
  width: 100%;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 6px;
}

table th,
table td {
  padding: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
    table {
        border: none;
    }

  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: 16px;
  }
  
  table td {
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
  }
}