.wrapper {
  border: 1px solid #ccc;
  max-width: 960px;

  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 100%;

    thead {
      height: 50px;
      width: 100%;
    }

    tbody {
      position: relative;

      tr {
        background-color: #f8f8f8;
        border-top: 1px solid #ddd;
        width: 20%;
      }
    }

    th {
      text-align: center;
    }

    td {
      height: 50px;

      input {
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;

        &:disabled {
          border: none;
          text-align: center;
          background: transparent;
        }
      }
    }
  }
}